<!DOCTYPE html>
<html>
  <head>
    <title>Enrique's website</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
    {{#unless isLoggedIn}}
      <a href="/signup">Sign Up</a>
      <a href="/login">Log In</a>
    {{/unless}}
    {{#if isLoggedIn}}
    <a href="/profile">Profile</a>
    <a href="/logout">Logout</a>
    {{/if}}
      
    </nav>


    {{{body}}}
  </body>
</html>
