<!DOCTYPE html>
<html>
  <head>
    <title>Enrique's website</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      
      <a href="/signup">Sign Up</a>
      <a href="/login">Log in</a>
      
      
      <a href="/logout">Logout</a>
      
      
    </nav>


    {{{body}}}
  </body>
</html>
